/* =Site branding
===================================================== */

// Site branding
//
// Site logo, title and description
//
// Markup:
// <header id="masthead" class="site-header" role="banner">
//   <hgroup>
//    <h1 class="site-title"><a href="#" title="WordCamp Europe 2017" rel="home">WordCamp Europe 2017</a></h1>
//    <h2 class="site-description">Paris, France – June 15-17, 2017</h2>
//   </hgroup>
// </header>
//
// Style guide: 6.branding


/*
 * Header
 *
 * Container for navigation and branding
 * <heaeder id="masthead" class="site-header" role="banner"> ... </header>
 */

.site-header {



}

.site-header hgroup {

  @include container-padding(1.5);

  text-align: center;
  background-color: $color-brand-tertiary;

}

.site-title {

  margin: 0;

  @include font-size(20);
  line-height: em(28,20);
  font-family: $font-headline;
  font-weight: $regular;
  text-transform: none;
  color: $color-text-strong-invert;

  @include breakpoint(small) {

    @include font-size(24);
    line-height: em(32,24);

  }

  @include breakpoint(medium) {

    @include font-size(28);
    line-height: em(36,28);

  }

  a {

    color: $color-link;

  }

}

.site-description {

  margin: 0;
  margin-top: $unit-xs;

  @include font-size(16);
  line-height: em(24,16);
  font-family: $font-body;
  font-weight: $regular;
  text-transform: none;
  color: $color-text-weak-invert;

  @include breakpoint(small) {

    @include font-size(18);
    line-height: em(26,18);

  }

  @include breakpoint(medium) {

    @include font-size(20);
    line-height: em(30,20);

  }

}