/*
 * Widgets
 */

.widget {

  @include container-padding(1.5);
  position: relative;
  max-width: $container-max-width;

}

.widget-title {

  font-size: ms(1);

}


/*
 * Secondary Widgets
 *
 * Full width widgets after the content
 */

#after-header-widgets .widget,
#secondary .widget {

  // border-top: rem(2) solid #fff;
  padding-left: 0;
  padding-right: 0;
  text-align: center;

  > * {

    position: relative;

  }

  &:before {

    position: absolute;
    // z-index: -1;
    top: 0;
    bottom: 0;
    left: -1000px;
    right: -1000px;

    background-color: $color-brand-quaternary;

    content: "";

  }

  // @include breakpoint(medium) {

  //   padding: $unit-l 0;

  // }

  // @include breakpoint(large) {

  //   padding: $unit-xl 0;

  // }

}


/*
 * Widget text
 *
 * Default text widget styles
 */

.widget_text {

  background-color: $color-grey-10;

  &:before {

    background-color: $color-grey-10!important;

  }

}