/* =Site branding
===================================================== */

// Site branding
//
// Site logo, title and description
//
// Markup:
// <header id="masthead" class="site-header" role="banner">
//   <hgroup>
//    <h1 class="site-title"><a href="#" title="WordCamp Europe 2017" rel="home">WordCamp Europe 2017</a></h1>
//    <h2 class="site-description">Paris, France – June 15-17, 2017</h2>
//   </hgroup>
// </header>
//
// Style guide: 6.branding


/*
 * Header
 *
 * Container for navigation and branding
 * <heaeder id="masthead" class="site-header" role="banner"> ... </header>
 */

.site-header {



}

.site-header hgroup {

  @include container-padding(1.5);

  text-align: center;
  background-color: $color-brand-tertiary;

}

.site-title {

  margin: 0;

  @include font-size(24);
  line-height: em(28,24);
  font-family: $font-headline;
  font-weight: $regular;
  text-transform: none;
  color: $color-text-strong-invert;

  @include breakpoint(small) {

    @include font-size(28);
    line-height: em(32,28);

  }

  @include breakpoint(medium) {

    @include font-size(36);
    line-height: em(44,36);

  }

  a {

    display: block;
    color: $color-link;

    &:hover,
    &:focus,
    &:active {

      text-decoration: none;

    }

  }

  a:before {

    display: block;
    width: 500px * .3 ;
    height: 416px * .3;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $unit-xs;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url('https://2017.europe.wordcamp.org/files/2016/09/logo-wceu-2017.png');
    background-size: 100%;

    content: "";

  }

}

.site-description {

  margin: 0;
  margin-top: $unit-xs;

  @include font-size(16);
  line-height: em(24,16);
  font-family: $font-body;
  font-weight: $regular;
  text-transform: none;
  color: $color-text-weak-invert;

  @include breakpoint(small) {

    @include font-size(18);
    line-height: em(26,18);

  }

  @include breakpoint(medium) {

    @include font-size(20);
    line-height: em(30,20);

  }

}