/* =Navigation
===================================================== */

// Navigation
//
// Main navigation of the site
//
// Markup:
// <header id="masthead" class="site-header" role="banner">
//   <nav id="site-navigation" class="main-navigation" role="navigation">
//     <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">Primary Menu</button>
//     <div class="menu-main-menu-container">
//       <ul id="primary-menu" class="menu">
//         <li id="menu-item-17012" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-home menu-item-17012">
//           <a href="#">Home</a>
//         </li>
//         <li id="menu-item-17013" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17013">
//           <a href="#">Get a ticket</a>
//         </li>
//         <li id="menu-item-17014" class="use-title-for-small menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-17014">
//           <a title="Attendes" href="https://  wceu2017.wc.dev.kau-boys.com/attendees/">Attendees Information</a>
//           <ul class="sub-menu">
//             <li id="menu-item-17109" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17109">
//               <a href="#">Press</a>
//             </li>
//             <li id="menu-item-17110" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17110">
//               <a href="#">Subscribe</a>
//             </li>
//           </ul>
//         </li>
//         <li id="menu-item-17015" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17015">
//           <a href="#">Location</a>
//         </li>
//         <li id="menu-item-17016" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17016">
//           <a href="#">Contact</a>
//         </li>
//       </ul>
//     </div>
//   </nav><!-- #site-navigation -->
// </header>
//
// Style guide: 6.navigation

/*
 * Menu toggle
 *
 * Mobile menu switcher
 */

.menu-toggle {

  padding: $unit-s $unit-s;
  margin: 0;

  margin-top: rem(2);
  width: 100%;

  font-size: ms(0);
  font-weight: $bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .05em;
  color: $color-link-hover;

  border-radius: 0;
  background-color: rgba($color-brand-tertiary, .9);

  cursor: pointer;

  &:after {

    position: relative;
    top: -(rem(2));

    display: inline-block;
    border: rem(6) solid transparent;
    margin-left: $unit-xs;

    vertical-align: middle;

    border-top-color: $color-link-hover;

    content: "";

  }

  &[aria-expanded="true"] {

    color: $color-link;

    &:after {

      border-top-color: transparent;
      border-bottom-color: $color-link-hover;

    }

  }

  @include breakpoint(small) {

    display: none;

  }

}

/*
 * Main navigation
 *
 * Main header navigation
 * Classes switch via JS on viewport width
 */


// .menu-main-navigation-container {}

.main-navigation {

  position: relative;

  background-color: rgba(#000, .2);

  &:before {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: rem(2);
    background-color: $color-link-hover;

    content: "";

  }

  @include breakpoint(to-small) {

    background-color: $color-brand-tertiary;



    &.toggled-on .menu {

      display: block;

    }

  }

}

// .main-small-navigation {



// }

.menu {

  @include list-reset();
  @include clearfix();

  text-align: center;

  @include breakpoint(small) {

    display: block;

  }

  @include breakpoint(to-small) {

    border-top: 1px solid rgba(255,255,255,.2);

    display: none;

    .toggled-on & {

      display: block;

    }

  }

}

.menu-item {

  position: relative;

  margin: 0;
  display: block;

  font-family: $font-headline;
  font-size: ms(0);
  text-transform: uppercase;
  font-weight: $bold;
  text-align: left;

  @include breakpoint(small) {

    margin: 0 rem(1);
    display: inline-block;

    @include font-size(18);
    line-height: em(24,18);
    text-align: center;

  }

}

.menu-item a {

  display: block;
  color: $color-link-hover;
  padding: $unit-xs $unit-s;

  text-decoration: none;
  transition: all .1s ease;

  &:hover,
  &:focus,
  &:active {

    color: $color-text-strong;
    background-color: $color-link;

  }

  @include breakpoint(medium) {

    padding: $unit-s $unit-m;

  }

  @include breakpoint(large) {

    padding: $unit-m $unit-l;

  }

}

.current-menu-item > a {

  color: $color-text-strong;
  background-color: $color-link-hover;

}

/*
 * Sub menu
 */

.menu-item-has-children {

  background-color: rgba($color-brand-tertiary, .6);

  .dropdown-toggle {

    display: none;

  }

  @include breakpoint(small) {

    background-color: transparent;

    > a {

      &:after {

        position: relative;
        top: -(rem(2));

        display: inline-block;
        border: rem(6) solid transparent;
        margin-left: $unit-xs;

        vertical-align: middle;

        border-top-color: $color-link-hover;

        content: "";

      }

    }

    > a .dropdown-toggle {

      display: inline-block;

      display: none; // Hide temporarily

      // position: relative;

      // background-color: transparent;
      // border: none;
      // border-radius: 0;

    }

    &:hover > a {

      color: $color-text-strong;
      background-color: $color-link;

      &:after {

        border-top-color: $color-text-strong;

      }

    }

    &:hover > .sub-menu {

      display: block;

    }

    &.current-menu-item > a:after {

      border-top-color: $color-text-strong;

    }

  }

}

.sub-menu {

  @include list-reset();

  .menu-item {

    text-transform: none;
    font-weight: $regular;
    font-family: $font-body;

  }

  a {

    .main-small-navigation & {

      padding-left: rem(40);

      background-image: $image-bullet-color;
      background-repeat: no-repeat;
      background-size: 12px;
      background-position: $unit-s 50%;

      &:hover,
      &:focus {

        background-image: $image-bullet-dark;

      }

    }


  }

  @include breakpoint(small) {

    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: $z-index-navigation-submenu;

    display: none;
    min-width: rem(260);

    background-color: $color-link;

    .menu-item {

      width: 100%;
      margin: 0;
      border-top: 1px solid rgba(255,255,255,.2);

      text-align: left;

    }

    a {

      padding: rem(10) $unit-s;

      color: $color-text;

    }

  }

  @include breakpoint(medium) {

    a {

      padding-left: $unit-m;
      padding-right: $unit-m;

    }

  }

  @include breakpoint(large) {

    a {

      padding-left: $unit-l;
      padding-right: $unit-l;

    }

  }

}

/*
 * Prepare markup for theme update
 */

// .main-navigation {}
// .main-navigation.toggled {}

// .menu-toggle {

//   margin-top: rem(2);
//   width: 100%;
//   border-radius: 0;

//   @include breakpoint(small) {

//     display: none;

//   }

// }

// .menu-toggle[aria-expanded="true"] {}
// .menu-toggle[aria-expanded="false"] {}

// .menu[aria-expanded="true"] {}
// .menu[aria-expanded="false"] {}