/* =Pagination
===================================================== */

// Pagination
//
// Bottom navigation for previous/next page of listing
//
// Markup:
// <nav class="navigation post-navigation" role="navigation">
//   <h2 class="screen-reader-text">Post navigation</h2>
//   <div class="nav-links">
//     <div class="nav-previous"><a href="#" rel="prev">Announcing livestream tickets sale</a></div>
//     <div class="nav-next"><a href="#" rel="next">About that after party…</a></div>
//   </div>
// </nav>
//
// Style guide: 6.pagination

.posts-navigation,
.post-navigation {

  @include clearfix();

  .screen-reader-text {

    @include visually-hidden();

  }

  a {

    display: block;

  }

  .nav-previous {

    float: left;

    text-align: left;

    a:before {

      margin-right: $unit-xs;
      display: inline-block;

      content: "\2190";

    }

  }

  .nav-next {

    float: right;

    text-align: right;

    a:after {

      margin-left: $unit-xs;
      display: inline-block;

      content: "\2192";

    }

  }

}