/* =Navigation
===================================================== */

// Navigation
//
// Main navigation of the site
//
// Markup:
// <div class="menu-main-navigation-container">
//  <ul id="menu-main-navigation" class="menu">
//    <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item"><a href="#">News</a></li>
//    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Volunteer</a></li>
//    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Être bénévole</a></li>
//    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Tickets</a></li>
//    <li class="use-title-for-small menu-item menu-item-type-post_type menu-item-object-page"><a title="Info" href="#">Attendee Information</a></li>
//    <li class="use-title-for-small menu-item menu-item-type-post_type menu-item-object-page"><a title="CoC" href="#">Code of Conduct</a></li>
//    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Contact</a></li>
//  </ul>
// </div>
//
// Style guide: 6.navigation

// .menu-main-navigation-container {}

.menu {

  @include list-reset();
  @include clearfix();

  background-color: $color-brand-tertiary;
  text-align: center;

}

.menu-item {

  position: relative;

  margin: 0;
  display: block;

  font-family: $font-brand-primary;
  @include font-size(16);
  line-height: em(24,16);
  text-align: center;

  @include breakpoint(medium) {

    display: inline-block;

    @include font-size(18);
    line-height: em(24,18);

  }

}

.menu-item a {

  display: block;
  padding: $unit-xs $unit-s;

  text-decoration: none;

  @include breakpoint(medium) {

    padding: $unit-s $unit-m;

  }

  &:hover,
  &:focus,
  &:active {

    color: $color-text-strong;
    background-color: $color-link;

  }

}

.current-menu-item > a {

  color: $color-text-strong;
  background-color: $color-link;

}

/*
 * Sub menu
 */

.menu-item-has-children {

  @include breakpoint(medium) {

    &:hover > a {

      color: $color-text-strong;
      background-color: $color-link;

    }

    &:hover > .sub-menu {

      display: block;

      // box-shadow: rem(1) rem(4) rem(24) 0 rgba(0,0,0,.125);

    }

  }

}

.sub-menu {

  @include list-reset();

  display: none;

  @include breakpoint(medium) {

    position: absolute;
    top: 100%;
    left: 0;

    background-color: $color-link;

    .menu-item {

      width: 100%;
      border-top: 1px solid $color-border-weak;

    }

    a {

      color: $color-text;

    }

  }

}