/* =Header
===================================================== */

// Header
//
// Header of the site (includes site branding and navigation)
//
// Markup:
// <header id="masthead" class="site-header" role="banner">
//   <!-- Site branding -->
//   <!-- Navigation -->
// </header>
//
// Style guide: 6.header

.site-header {

  position: relative;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-image: $site-hero-path;

  transition: all .1s ease;

  &:before {

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgba($color-brand-tertiary, $site-hero-overlay);

    content: "";

  }

  > * {

    position: relative;
    z-index: $z-index-header;

  }

}