/* =Header
===================================================== */

// Header
//
// Header of the site (includes site branding and navigation)
//
// Markup:
// <header id="masthead" class="site-header" role="banner">
//   <!-- Site branding -->
//   <!-- Navigation -->
// </header>
//
// Style guide: 6.header

.site-header {

  position: relative;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: fixed;
  background-image: $site-hero-path-small;

  @include breakpoint(medium) {

    background-image: $site-hero-path-large;
    background-size: cover;

  }

  transition: all .1s ease;

  &:before {

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgba($color-brand-tertiary, $site-hero-overlay);

    content: "";

  }

  > * {

    position: relative;
    z-index: $z-index-header;

  }

}

/*
 * Lightbeams
 *
 * Decoration on the header background
 *
 * Based on the pen by Umair Razzaq
 * http://codepen.io/umairrazzaq/pen/dMQbzb
 */

@mixin lightbearm-frame($skewX, $skewY) {

  @include transform( skew($skewX, $skewY));
  @include transform-origin(100% 100%);

}

.home .site-header hgroup:before,
.home .site-header hgroup:after {

  position: absolute;
  z-index: -1;
  bottom: -10vh;
  left: 60%;

  display: block;
  width: 0;
  height: 0;
  margin-left: -40vh;

  border-top: 110vh solid white;
  border-left: 40vh solid transparent;
  border-right: 40vh solid transparent;

  content: "";
  opacity: .15;

  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000px;

}

.home .site-header hgroup:before {
  @include lightbearm-frame(50deg, 0deg);
  @include animation(search1 5s infinite 5s);
}

.home .site-header hgroup:after {
  @include lightbearm-frame(-50deg, 0deg);
  @include animation(search2 5s infinite 5s);
}

@include keyframes(search1) {

  0% {
    @include lightbearm-frame( 50deg, 0deg );
  }

  5% {
    @include lightbearm-frame( 50deg, 0deg );
  }

  10% {
    @include lightbearm-frame( 60deg, 0deg );
  }

  50% {
    @include lightbearm-frame( -50deg, 0deg );
  }

  100% {
    @include lightbearm-frame( 50deg, 0deg );
  }

}

@include keyframes(search2) {

  0% {
    @include lightbearm-frame( -50deg, 0deg );
  }

  5% {
    @include lightbearm-frame( -50deg, 0deg );
  }

  50% {
    @include lightbearm-frame( 60deg, 0deg );
  }

  100% {
    @include lightbearm-frame( -50deg, 0deg );
  }

}