/* =Experimental
===================================================== */


/*
 * Other
 */


/*
 * Widgets
 */

.widget-title {

  font-size: ms(1);

}


/*
 * Secondary Widgets
 *
 * Full width widgets
 */

#secondary .widget {

  position: relative;
  padding: $unit-m 0;
  border-top: rem(2) solid #fff;
  max-width: $container-max-width;

  text-align: center;

  &:before {

    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -1000px;
    right: -1000px;

    background-color: $local-linnen;

    content: "";

  }

  @include breakpoint(medium) {

    padding: $unit-l 0;

  }

  @include breakpoint(large) {

    padding: $unit-xl 0;

  }

}

/*
 * Widget text
 */

.widget_text {

  background-color: $color-grey-10;

  &:before {

    background-color: $color-grey-10!important;

  }

}


/*
 * Social
 */

.list-social {

  @include clearfix();
  @include list-reset();
  text-align: center;

  li {

    font-size: ms(0);
    line-height: ms(1);

    display: block;
    margin-top: $unit-s;

    text-align: center;

    @include breakpoint(extra-small) {

      width: 46%;
      display: inline-block;

    }

    @include breakpoint(small) {

      min-width: rem(240);

    }

  }

  strong {

    display: block;
    color: inherit;

  }

  a {

    position: relative;

    display: block;
    padding: $unit-s $unit-m;
    padding-top: rem(68);


    color: rgba(0,0,0,.8);
    // border: 1px solid $color-grey-20;
    // border-radius: $border-radius-small;
    text-decoration: none;

    &:empty {

      display: none;

    }

    &:before {

      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%)  rotate(45deg);

      display: block;
      width: rem(36);
      height: rem(36);
      border: 6px double $color-link;

      background-color: $color-grey-10;

      content :"";

      transition: all .1s ease;

    }

    &:after {

      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);

      width: rem(48);
      height: rem(48);
      // background-color: $color-link;

      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 36px;

      content :"";

      // transition: all .1s ease;

    }

    &:hover,
    &:focus,
    &:active {

      color: $color-link-hover;
      text-decoration: none;
      background-color: $color-brand-tertiary;

      &:after {

        // background-size: 40px;

      }

      &:before {

        background-color: $color-link-hover;
        border-color: $color-link-hover;

      }

    }

  }

  .social-twitter a:after {

    background-image: url('https://2017.europe.wordcamp.org/files/2016/11/icon-twitter.png');

  }

  .social-facebook a:after {

    background-image: url('https://2017.europe.wordcamp.org/files/2016/11/icon-facebook.png');

  }

}

/*
 * Images
 */


.alignleft,
.alignright {

  position: relative;
  max-width: none;
  width: 100%;

  @include breakpoint(extra-small) {

    top: rem(6);
    margin-bottom: $unit-m;
    width: 36%;

  }

  @include breakpoint(medium) {

    top: rem(10);
    width: 44%;

  }

}

.alignleft {

  @include breakpoint(extra-small) {

    float: left;
    margin-right: $unit-m;

  }

}

.alignright {

  @include breakpoint(extra-small) {

    float: right;
    margin-left: $unit-m;

  }

}

.wp-caption {

  max-width: 100%;

  img {

    margin-bottom: 0;
    max-width: none;
    width: 100%;

  }

  p {

    margin-top: $unit-xs;
    margin-bottom: 0;

    font-size: ms(-1);
    line-height: ms(2);
    color: $color-text-weak;

  }

}

/*
 * Temp
 */

img.wp-smiley, img.emoji {
   display: inline !important;
   border: none !important;
   box-shadow: none !important;
   height: 1em !important;
   width: 1em !important;
   margin: 0 .07em !important;
   vertical-align: -0.1em !important;
   background: none !important;
   padding: 0 !important;
}