/* =Generic: Page
===================================================== */

body {

  font-family: $font-body;
  font-size: 16px;
  line-height: ms(2);
  background: #fff;

  @include font-feature-settings("liga");

  @include breakpoint(small) {

		font-size: 18px;

  }

  @include breakpoint(medium) {

		font-size: 20px;

  }

}

::selection {

  color: #fff;
  background-color: $color-brand-primary;

}