/* =Settings: Other
===================================================== */

/* Z-index */
$z-index-header:                  200;
$z-index-branding:                290;
$z-index-navigation:              300;
$z-index-navigation-submenu:      310;
$z-index-main:                    100;
$z-index-footer:                  100;
$z-index-modal:                   500;
$z-index-skip-links:              600;

/* Units */
$unit-xs:                       rem(8);
$unit-s:                        rem(16);
$unit-m:                        rem(24);
$unit-l:                        rem(32);
$unit-xl:                       rem(48);
$unit-default:                  rem(24);

/* Container padding */
$container-unit-small:          $unit-s;
$container-unit-medium:         $unit-l;
$container-unit-large:          $unit-xl;

/* Container max width */
$container-max-width:           rem(800);

/* Border radius */
$border-radius-small:           rem(3);
$border-radius-normal:          rem(6);
$border-radius-large:           rem(10);

/* Box shadow */
$box-shadow-small:              0 rem(1) rem(3) 0 rgba(0,0,0,.2);
$box-shadow-medium:             0 rem(1) rem(6) 0 rgba(0,0,0,.2);
$box-shadow-large:              0 rem(1) rem(24) 0 rgba(0,0,0,.2);

/* Logo size */
$site-logo-width:               328px; // Width of the image/element
$site-logo-height:              273px; // Height of the image/element
$site-logo-proportion:          .6; // Change the logo proportion in header e.g. .5 will reduce the logo size by half.
$site-logo-path:                url('http://2017.europe.wordcamp.org/files/2016/11/logo-wceu17-dark-icon.png'); // Logo image

/* Hero */
$site-hero-path:                url('http://2017.europe.wordcamp.org/files/2016/11/header-wceu17-home-hero.jpg'); // Background image
$site-hero-overlay:             .6; // Image overlay color opacity

/* Media queries */
$extra-small-value:             24em; // 384px
$small-value:                   36em; // 576px
$medium-value:                  48em; // 768px
$large-value:                   62em; // 992px
$extra-large-value:             80em; // 1280px