/* =Settings: Colors
===================================================== */

// Typography
//
// Fonts used on the site:
// * Primary: **Lato**
// * Secondary: **Georgia**
//
// Style guide: 1.typography

/* Fonts */
$font-brand-primary:              "ingra", $helvetica;
$font-brand-secondary:            "mostra-nuova-alt-d", $helvetica;

/* Font use case */
$font-body:                       $font-brand-primary;
$font-headline:                   $font-brand-secondary;

/* Font weights */
$hairline:                        100;
$thin:                            200;
$light:                           300;
$regular:                         400;
$medium:                          500;
$semibold:                        600;
$bold:                            700;
$black:                           900;