/* =Settings: Colors
===================================================== */

// Colors
//
// Color variables and values used on the site.
// Local color variables should be used **only** in _settings.colors.scss.
//
// Markup:
// <h3 class="cc-title">Brand (V1)</h3>
// <div class="cc-group">
// 	<dl class="cc cc--var-local-darkblue">
//		<dt class="cc__title">Dark Blue</dt>
//		<dd class="cc__variable">$local-darkblue</dd>
//	</dl>
// 	<dl class="cc cc--var-local-blue">
//		<dt class="cc__title">Blue</dt>
//		<dd class="cc__variable">$local-blue</dd>
//	</dl>
// 	<dl class="cc cc--var-local-lightblue">
//		<dt class="cc__title">Light Blue</dt>
//		<dd class="cc__variable">$local-lightblue</dd>
//	</dl>
// 	<dl class="cc cc--var-local-offblack">
//		<dt class="cc__title">Off Black</dt>
//		<dd class="cc__variable">$local-offblack</dd>
//	</dl>
// 	<dl class="cc cc--var-local-yellow">
//		<dt class="cc__title">Yellow</dt>
//		<dd class="cc__variable">$local-yellow</dd>
//	</dl>
// 	<dl class="cc cc--var-local-white">
//		<dt class="cc__title">White</dt>
//		<dd class="cc__variable">$local-white</dd>
//	</dl>
// </div>
// <h3 class="cc-title">Brand (V2)</h3>
// <div class="cc-group">
// 	<dl class="cc cc--var-local-thunder">
//		<dt class="cc__title">Thunder</dt>
//		<dd class="cc__variable">$local-thunder</dd>
//	</dl>
// 	<dl class="cc cc--var-local-ash">
//		<dt class="cc__title">Ash</dt>
//		<dd class="cc__variable">$local-ash</dd>
//	</dl>
// 	<dl class="cc cc--var-local-smoke">
//		<dt class="cc__title">Smoke</dt>
//		<dd class="cc__variable">$local-smoke</dd>
//	</dl>
// 	<dl class="cc cc--var-local-gold">
//		<dt class="cc__title">Gold</dt>
//		<dd class="cc__variable">$local-gold</dd>
//	</dl>
// 	<dl class="cc cc--var-local-copper">
//		<dt class="cc__title">Copper</dt>
//		<dd class="cc__variable">$local-copper</dd>
//	</dl>
// 	<dl class="cc cc--var-local-linnen">
//		<dt class="cc__title">Linnen</dt>
//		<dd class="cc__variable">$local-linnen</dd>
//	</dl>
// 	<dl class="cc cc--var-local-lavender">
//		<dt class="cc__title">Lavender</dt>
//		<dd class="cc__variable">$local-lavender</dd>
//	</dl>
// </div>
// <h3 class="cc-title">Text</h3>
// <div class="cc-group">
// 	<dl class="cc cc--var-color-text">
//		<dt class="cc__title">Text</dt>
//		<dd class="cc__variable">$color-text</dd>
//	</dl>
// 	<dl class="cc cc--var-color-text-weak">
//		<dt class="cc__title">Weak Text</dt>
//		<dd class="cc__variable">$color-text-weak</dd>
//	</dl>
// 	<dl class="cc cc--var-color-text-strong">
//		<dt class="cc__title">Strong Text</dt>
//		<dd class="cc__variable">$color-text-strong</dd>
//	</dl>
// 	<dl class="cc cc--var-color-text-invert">
//		<dt class="cc__title">Invert Text</dt>
//		<dd class="cc__variable">$color-text-invert</dd>
//	</dl>
// 	<dl class="cc cc--var-color-text-weak-invert">
//		<dt class="cc__title">Weak Invert Text</dt>
//		<dd class="cc__variable">$color-text-weak-invert</dd>
//	</dl>
// 	<dl class="cc cc--var-color-text-strong-invert">
//		<dt class="cc__title">Strong Invert Text</dt>
//		<dd class="cc__variable">$color-text-strong-invert</dd>
//	</dl>
// </div>
// <h3 class="cc-title">Links</h3>
// <div class="cc-group">
// 	<dl class="cc cc--var-color-link">
//		<dt class="cc__title">Link</dt>
//		<dd class="cc__variable">$color-link</dd>
//	</dl>
// 	<dl class="cc cc--var-color-link-focus">
//		<dt class="cc__title">Focused Link</dt>
//		<dd class="cc__variable">$color-link-focus</dd>
//	</dl>
// 	<dl class="cc cc--var-color-link-hover">
//		<dt class="cc__title">Hovered Link</dt>
//		<dd class="cc__variable">$color-link-hover</dd>
//	</dl>
// 	<dl class="cc cc--var-color-link-visited">
//		<dt class="cc__title">Visited Link</dt>
//		<dd class="cc__variable">$color-link-visited</dd>
//	</dl>
// </div>
// <h3 class="cc-title">Alternate links</h3>
// <div class="cc-group">
// 	<dl class="cc cc--var-color-link-alt">
//		<dt class="cc__title">Alternate Link</dt>
//		<dd class="cc__variable">$color-link-alt</dd>
//	</dl>
// 	<dl class="cc cc--var-color-link-alt-focus">
//		<dt class="cc__title">Alternate focused Link</dt>
//		<dd class="cc__variable">$color-link-alt-focus</dd>
//	</dl>
// 	<dl class="cc cc--var-color-link-alt-hover">
//		<dt class="cc__title">Alternate hovered Link</dt>
//		<dd class="cc__variable">$color-link-alt-hover</dd>
//	</dl>
// 	<dl class="cc cc--var-color-link-alt-visited">
//		<dt class="cc__title">Alternate visited Link</dt>
//		<dd class="cc__variable">$color-link-alt-visited</dd>
//	</dl>
// </div>
// <h3 class="cc-title">Shades of grey</h3>
// <div class="cc-group">
// 	<dl class="cc cc--var-color-grey-10">
//		<dt class="cc__title">Grey 10%</dt>
//		<dd class="cc__variable">$color-grey-10</dd>
//	</dl>
// 	<dl class="cc cc--var-color-grey-20">
//		<dt class="cc__title">Grey 20%</dt>
//		<dd class="cc__variable">$color-grey-20</dd>
//	</dl>
// 	<dl class="cc cc--var-color-grey-30">
//		<dt class="cc__title">Grey 30%</dt>
//		<dd class="cc__variable">$color-grey-30</dd>
//	</dl>
// 	<dl class="cc cc--var-color-grey-40">
//		<dt class="cc__title">Grey 40%</dt>
//		<dd class="cc__variable">$color-grey-40</dd>
//	</dl>
// 	<dl class="cc cc--var-color-grey-50">
//		<dt class="cc__title">Grey 50%</dt>
//		<dd class="cc__variable">$color-grey-50</dd>
//	</dl>
// 	<dl class="cc cc--var-color-grey-60">
//		<dt class="cc__title">Grey 60%</dt>
//		<dd class="cc__variable">$color-grey-60</dd>
//	</dl>
// 	<dl class="cc cc--var-color-grey-70">
//		<dt class="cc__title">Grey 70%</dt>
//		<dd class="cc__variable">$color-grey-70</dd>
//	</dl>
// 	<dl class="cc cc--var-color-grey-80">
//		<dt class="cc__title">Grey 80%</dt>
//		<dd class="cc__variable">$color-grey-80</dd>
//	</dl>
// 	<dl class="cc cc--var-color-grey-90">
//		<dt class="cc__title">Grey 90%</dt>
//		<dd class="cc__variable">$color-grey-90</dd>
//	</dl>
// 	<dl class="cc cc--var-color-grey-100">
//		<dt class="cc__title">Grey 100%</dt>
//		<dd class="cc__variable">$color-grey-100</dd>
//	</dl>
// </div>
// <h3 class="cc-title">Borders</h3>
// <div class="cc-group">
// 	<dl class="cc cc--var-color-border-weak">
//		<dt class="cc__title">Weak Border</dt>
//		<dd class="cc__variable">$color-border-weak</dd>
//	</dl>
// 	<dl class="cc cc--var-color-border-normal">
//		<dt class="cc__title">Normal Border</dt>
//		<dd class="cc__variable">$color-border-normal</dd>
//	</dl>
// 	<dl class="cc cc--var-color-border-strong">
//		<dt class="cc__title">Strong Border</dt>
//		<dd class="cc__variable">$color-border-strong</dd>
//	</dl>
// </div>
// <h3 class="cc-title">Buttons</h3>
// <div class="cc-group">
// 	<dl class="cc cc--var-color-grey-10">
//		<dt class="cc__title">Grey 10%</dt>
//		<dd class="cc__variable">$color-grey-10</dd>
//	</dl>
// </div>
// <h3 class="cc-title">Forms</h3>
// <div class="cc-group">
// 	<dl class="cc cc--var-color-input-regular">
//		<dt class="cc__title">Regular Input</dt>
//		<dd class="cc__variable">$color-input-regular</dd>
//	</dl>
// 	<dl class="cc cc--var-color-input-focus">
//		<dt class="cc__title">Focus Input</dt>
//		<dd class="cc__variable">$color-input-focus</dd>
//	</dl>
// 	<dl class="cc cc--var-color-input-success">
//		<dt class="cc__title">Success Input</dt>
//		<dd class="cc__variable">$color-input-success</dd>
//	</dl>
// 	<dl class="cc cc--var-color-input-error">
//		<dt class="cc__title">Error Input</dt>
//		<dd class="cc__variable">$color-input-error</dd>
//	</dl>
// 	<dl class="cc cc--var-color-input-required">
//		<dt class="cc__title">Required Input</dt>
//		<dd class="cc__variable">$color-input-required</dd>
//	</dl>
// 	<dl class="cc cc--var-color-input-checkbox">
//		<dt class="cc__title">Checkbox</dt>
//		<dd class="cc__variable">$color-input-checkbox</dd>
//	</dl>
// 	<dl class="cc cc--var-color-input-checkbox-active">
//		<dt class="cc__title">Active Checkbox</dt>
//		<dd class="cc__variable">$color-input-checkbox-active</dd>
//	</dl>
// 	<dl class="cc cc--var-color-input-radio">
//		<dt class="cc__title">Radio</dt>
//		<dd class="cc__variable">$color-input-radio</dd>
//	</dl>
// 	<dl class="cc cc--var-color-input-radio-active">
//		<dt class="cc__title">Active Radio</dt>
//		<dd class="cc__variable">$color-input-radio-active</dd>
//	</dl>
// </div>
//
// Style guide: 1.colors

@mixin cc($cc-variable-value, $cc-variable-class) {

  .cc--var-#{$cc-variable-class} {

    &:after {

    	background-color: $cc-variable-value;

    }

    .cc__variable:after {

			content: "#{$cc-variable-value}";

    }

  }

}

/* Local #V1 */
$local-darkblue:                  #0c3a51;
$local-blue:                      #7194a8;
$local-lightblue:                 #d7e9f2;
$local-offblack:                  #1d242a;
$local-yellow:                    #dac04a;
$local-white:                     #fff;

@include cc($local-darkblue, 'local-darkblue');
@include cc($local-blue, 'local-blue');
@include cc($local-lightblue, 'local-lightblue');
@include cc($local-offblack, 'local-offblack');
@include cc($local-yellow, 'local-yellow');
@include cc($local-white, 'local-white');

/* Local #V2 */
$local-thunder: #2D282D;
$local-ash: tint($local-thunder, 20%);
$local-smoke: tint($local-thunder, 70%);
$local-gold: #E6AA50;
$local-copper: #CC9966;
$local-linnen: tint($local-copper,80%);
$local-lavender: #8282BE;

@include cc($local-thunder, 'local-thunder');
@include cc($local-ash, 'local-ash');
@include cc($local-smoke, 'local-smoke');
@include cc($local-gold, 'local-gold');
@include cc($local-linnen, 'local-linnen');
@include cc($local-copper, 'local-copper');
@include cc($local-lavender, 'local-lavender');


/* Brand */
$color-brand-primary:             $local-gold;
$color-brand-secondary:           $local-copper;
$color-brand-tertiary:            $local-thunder;

// $color-brand-shade-lightest:      $local-smoke;
// $color-brand-shade-lighter:       $local-smoke;
// $color-brand-shade-normal:        $local-smoke;
// $color-brand-shade-darker:        $local-thunder;
// $color-brand-shade-darkest:       $local-ash;


/*
 * Text
 */

$color-text:                      rgba($local-offblack, .75);
$color-text-weak:                 rgba($local-offblack,.6);
$color-text-strong:               rgba($local-offblack,.9);
$color-text-invert:               rgba(255,255,255,.75);
$color-text-weak-invert:          rgba(255,255,255,.6);
$color-text-strong-invert:        rgba(255,255,255,.9);

@include cc($color-text, 'color-text');
@include cc($color-text-weak, 'color-text-weak');
@include cc($color-text-strong, 'color-text-strong');
@include cc($color-text-invert, 'color-text-invert');
@include cc($color-text-weak-invert, 'color-text-weak-invert');
@include cc($color-text-strong-invert, 'color-text-strong-invert');


/*
 * Links
 */

$color-link:                 $local-gold;
$color-link-hover:           mix($color-brand-secondary, #000, 90%);
$color-link-focus:           mix($color-link, #000, 70%);
$color-link-visited:         mix($color-link, #fff, 50%);

@include cc($color-link, 'color-link');
@include cc($color-link-focus, 'color-link-focus');
@include cc($color-link-hover, 'color-link-hover');
@include cc($color-link-visited, 'color-link-visited');


/*
 * Alternate links
 */

$color-link-alt:             $local-blue;
$color-link-alt-hover:       mix($color-link-alt, #000, 90%);
$color-link-alt-focus:       mix($color-link-alt, #000, 70%);
$color-link-alt-visited:     mix($color-link-alt, #fff, 50%);

@include cc($color-link-alt, 'color-link-alt');
@include cc($color-link-alt-focus, 'color-link-alt-focus');
@include cc($color-link-alt-hover, 'color-link-alt-hover');
@include cc($color-link-alt-visited, 'color-link-alt-visited');


/*
 * Shades of grey
 */

$color-grey-10:                   mix($local-offblack, #fff, 10%); // Light
$color-grey-20:                   mix($local-offblack, #fff, 20%);
$color-grey-30:                   mix($local-offblack, #fff, 30%);
$color-grey-40:                   mix($local-offblack, #fff, 40%);
$color-grey-50:                   mix($local-offblack, #fff, 50%);
$color-grey-60:                   mix($local-offblack, #fff, 60%);
$color-grey-70:                   mix($local-offblack, #fff, 70%);
$color-grey-80:                   mix($local-offblack, #fff, 80%);
$color-grey-90:                   mix($local-offblack, #fff, 90%);
$color-grey-100:                  mix($local-offblack, #fff, 100%);  // Dark

@include cc($color-grey-10, 'color-grey-10');
@include cc($color-grey-20, 'color-grey-20');
@include cc($color-grey-30, 'color-grey-30');
@include cc($color-grey-40, 'color-grey-40');
@include cc($color-grey-50, 'color-grey-50');
@include cc($color-grey-60, 'color-grey-60');
@include cc($color-grey-70, 'color-grey-70');
@include cc($color-grey-80, 'color-grey-80');
@include cc($color-grey-90, 'color-grey-90');
@include cc($color-grey-100, 'color-grey-100');


/*
 * Border
 */

$color-border-weak:               rgba($local-offblack, .25);
$color-border-normal:             rgba($local-offblack, .5);
$color-border-strong:             rgba($local-offblack, .75);

@include cc($color-border-weak, 'color-border-weak');
@include cc($color-border-normal, 'color-border-normal');
@include cc($color-border-strong, 'color-border-strong');


/*
 * Messages
 */

$color-message-default:           #eeeeee;
$color-message-success:           #00a664;
$color-message-warning:           #ffcb05;
$color-message-danger:            #f04e3e;

@include cc($color-message-default, 'color-message-default');
@include cc($color-message-success, 'color-message-success');
@include cc($color-message-warning, 'color-message-warning');
@include cc($color-message-danger, 'color-message-danger');


/*
 * Forms
 */

$color-input-regular:             mix($local-offblack, #fff, 25%);
$color-input-focus:               mix($local-offblack, #fff, 50%);
$color-input-success:             #00a664;
$color-input-error:               $color-message-danger;
$color-input-required:            mix($color-message-danger, #000, 75%);
$color-input-checkbox:            mix($local-offblack, #fff, 25%);
$color-input-checkbox-active:     $color-brand-secondary;
$color-input-radio:               mix($local-offblack, #fff, 25%);
$color-input-radio-active:        $color-brand-secondary;

@include cc($color-input-regular, 'color-input-regular');
@include cc($color-input-focus, 'color-input-focus');
@include cc($color-input-success, 'color-input-success');
@include cc($color-input-error, 'color-input-error');
@include cc($color-input-required, 'color-input-required');
@include cc($color-input-checkbox, 'color-input-checkbox');
@include cc($color-input-checkbox-active, 'color-input-checkbox-active');
@include cc($color-input-radio, 'color-input-radio');
@include cc($color-input-radio-active, 'color-input-radio-active');


/*
 * Buttons
 */

$color-button-regular:            mix($color-brand-tertiary, #fff, 20%);
$color-button-regular-hover:      darken($color-button-regular, 10%);
$color-button-primary:            $color-brand-primary;
$color-button-primary-hover:      darken($color-button-primary, 5%);
$color-button-secondary:          $color-brand-secondary;
$color-button-secondary-hover:    darken($color-button-secondary, 5%);
$color-button-invert:             #fff;
$color-button-invert-hover:       mix($color-button-invert, #000, 90%);
$color-button-inactive:           #eeeeee;


/*
 * Helper colors
 */

$color-text-heading-1:            $local-copper;
$color-text-heading-2:            $color-text-strong;
$color-text-heading-3:            $color-text-strong;
$color-text-heading-4:            $color-text-strong;
$color-text-paragraph:            $color-text;


/*
 * Explicit colors
 */

$color-explicit-red:              #ed1c24;
$color-explicit-green:            #00a651;
$color-explicit-blue:             #034ea2;